<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/index.css">
</head>
<body>
    <div>
        <article class="text-2xl pt-10 pl-40 flex">
            <img src="./image/chaos.png" alt="" width="50">
            <img src="./image/icons/keyboard.png" alt="">
            <p class="inline-block align-middle">MonkeyType</p>
        </article>
    </div>
</body>
</html>