@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  @apply bg-MTbg;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 1.75rem;
}

li {
  @apply pr-4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.monkeyType {
  font-family: Lexend Deca,sans-serif;
}

.top {
  font-size:0.7rem;
  color: #f3e03b;
  position: absolute;
}

.chaosInput {
  background-color: rgba(30,29,47,255);
}

.Ani {
  @apply transition ease-out hover:text-white;
}

.loginInput {
  @apply placeholder-slate-500 mb-2 p-1.5 pl-2 rounded-lg w-60 text-white;
}

.navIcons {
  margin-right: -1rem;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
